body {
  font-family: 'Rubik', sans-serif;
  overflow: auto;

}
#page0 {
  background-image: url(../img/black-white-background.jpg);
  background-size: cover;
  -webkit-background-size: cover;
 -moz-background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}
#page1 {
  background-image: url(../img/background1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
 -moz-background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}
#page2 {
  background-image: url(../img/ping-pong-background.jpg);
  background-size: cover;
  -webkit-background-size: cover;
 -moz-background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}
#output, #output2 {
  display: none;
}
#output, h1 {
  background: rgba(255, 255, 255, 0.6);
}
#output {
  -webkit-columns: 5 100px;
  -moz-columns: 5 100px;
  columns: 5 100px;
  -moz-column-fill: auto;
  column-fill: auto;
  height: 300px;
  overflow: auto;
}
#navigation {
  margin-left: 10%;
}
#navigation a {
      color: black;
}
.welcome-container {
  position: absolute;
  top: 37%;
  left: 50%;
  width:30em;
  height:16em;
  margin-top: -8em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid white;
  background-color: white;
}
.welcome-container h1 {
  line-height: 3.5em;
}
.welcome-container2:hover {
  background: rgba(255, 255, 255, 0);
}
.welcome-container2 {
  position: absolute;
  top: 59.25%;
  left: 50%;
  width:30em;
  height:8em;
  margin-top: -8em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
}

.welcome-container2 h3 {
  text-align: center;
  color: white;
  line-height: 3em;
}

.nav-pills > li {
  background: rgba( 255, 255, 255, 0.6);
  width: 300px;
}
.top {
  width: 100%;
  height: 40px;
  background-color: white;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
}
.left {
  width: 15px;
  height: 100%;
  float: left;
  background-color: white;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
}
.panel-heading {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 15%;
}
label {
  font-size: 1.5em;
  color: white;
}
input, label {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.btn {
  background: none;
  border: 2px solid;
}

.btn:hover {
  border: none;
  border: 2px solid #286090;
}
.btn:active {
  border: none;
  border: 2px solid #286090;
}
